.aboutus-main-container {
    height: auto;
    background-color: #02161d;
}

.aboutus-main-subcontainer {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.aboutus-span,
.aboutus-ourvalues-span {
    display: flex;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: 'Gruppo', 'Ubuntu', sans-serif !important;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    justify-content: center;
    padding-top: 80px;
}

.aboutus-ourvalues {
    padding-left: 30px;
}

.aboutus-p {
    color: rgba(255, 255, 255, 0.7);
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu-light';
    font-size: 30px;
    margin-top: 40px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
    opacity: 0;
}

.aboutus-p-scrolled {
    position: relative;
    animation: p 1.5s ease forwards;
}

@keyframes p {
    0% {
        right: 120px;
        opacity: 0;
    }

    100% {
        right: 0px;
        opacity: 1;
        border-right: 2px solid rgba(255, 255, 255, 0.5);
    }
}

.aboutus-innovation-main,
.aboutus-customer-main,
.aboutus-precision-main {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    opacity: 0;
}

.aboutus-innovation-main-scrolled {
    position: relative;
    animation: innovation 1.5s ease forwards;
}

.aboutus-customer-main-scrolled {
    position: relative;
    animation: customer 1.5s ease forwards;
}

.aboutus-precision-main-scrolled {
    position: relative;
    animation: precision 1.5s ease forwards;
}

@keyframes innovation {
    0% {
        left: 60px;
        opacity: 0;
    }

    100% {
        left: 0px;
        opacity: 1;
    }
}

@keyframes customer {
    0% {
        left: 120px;
        opacity: 0;
    }

    100% {
        left: 0px;
        opacity: 1;
    }
}

@keyframes precision {
    0% {
        left: 180px;
        opacity: 0;
    }

    100% {
        left: 0px;
        opacity: 1;
    }
}

#aboutus-innovation-svg,
#aboutus-customer-svg,
#aboutus-precision-svg {
    width: 80px;
    height: 70px;
    fill: rgba(255, 255, 255, 0.7);
    padding-top: 5px;
}

.aboutus-innovation-text,
.aboutus-customer-text,
.aboutus-precision-text {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.aboutus-precision-text {
    padding-bottom: 80px;
}

.aboutus-innovation-span,
.aboutus-customer-span,
.aboutus-precision-span {
    color: rgba(255, 255, 255, 0.7);
    font-size: 25px;
    font-family: 'Ubuntu-light';
}

.aboutus-innovation-p,
.aboutus-customer-p,
.aboutus-precision-p {
    color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 1200px) {
    .aboutus-main-subcontainer {
        flex-direction: column;
    }

    .aboutus-ourvalues,
    .aboutus-main {
        border-left: none;
        padding: 0px;
        margin: 0px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
    }

    #aboutus-innovation-svg,
    #aboutus-customer-svg,
    #aboutus-precision-svg {
        width: 60px;
        height: 60px;
        fill: rgba(255, 255, 255, 0.7);
    }

    .aboutus-p {
        color: rgba(255, 255, 255, 0.7);
        width: 100%;
        font-size: 20px;
        padding-left: 30px;
        border: none;
        padding-right: 0px;
    }
}