.call-main {
    font-family: 'Ubuntu-light';
    color: white;
}

.call-span {
    font-family: 'Gruppo', 'Ubuntu', sans-serif !important;
    font-size: 30px;
    justify-content: center;
    display: flex;
    margin-top: 50px;
}

.call-phone {
    font-family: 'Gruppo', 'Ubuntu', sans-serif !important;
    font-size: 40px;
    justify-content: center;
    display: flex;
}